---
export interface Props {
	title: string;
}

const { title } = Astro.props;

/* TODO: Replace harcoded values to headless CMS option  */
const navItems = [
	{
		name: 'Home',
		type: 'link',
		classes: [],
	},
	{
		name: 'About',
		type: 'link',
		classes: [],
	},
	{
		name: 'Portfolio',
		type: 'link',
		classes: [],
	},
	{
		name: 'Contact',
		type: 'link',
		classes: [],
	}
]

/* Components */
import AppFooter from '../components/AppFooter.vue';
import AppNavigation from '../components/AppNavigation.vue';

/* Utils */
import { getFullYear } from '../utils/date'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="main">
			<!-- Navigation -->
			<AppNavigation items={navItems} />

			<!-- Contet Wrapper -->
			<div class="content">
				<!-- Content -->
				<slot />
				<!-- Footer -->
				<AppFooter>
					Made with ❤️️ by Gonzalo Salinas using Vue, Astro, and Netlify © {getFullYear()}
				</AppFooter>
			</div>
		</div>
	</body>
</html>
<!-- Layout CSS -->
<style>
.main {
	display: flex;
	position: relative;
}

.content {
	
}
</style>
<!-- Global CSS -->
<style is:global>
/* Font: Montserrat Regular - 400 */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2') url('../fonts/Montserrat-Regular.woff') url('woff');
}

/* Font: Playfair Display Bold - 700 */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2') url('../fonts/PlayfairDisplay-Bold.woff') url('woff');
}

:root {
	/* Color */
	--red: #F25757;
	--white: #FFF;
	--light-white: #F6F6F6;
	--black: #000;
	--dark-gray: #222;

	/* Font */
	--montserrat: 'Montserrat', Tahoma, Verdana, sans-serif;
	--play-fair-display: 'Playfair Display', Garamond, serif;
	--code: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;

	/* Font weight */	
	--bold: 700;
	--regular: 400;

	/* Font size */
	--size-xxxl: 3.052rem;
	--size-xxl: 2.441rem;
	--size-xl: 1.953rem;
	--size-lg: 1.563rem;
	--size-md: 1.25rem;
	--size-base: 1rem;
	--size-sm: 0.8rem;
	--size-xs: 0.64rem;
	--size-xxs: 0.512rem;
}

html,
body {
	font-size: var(--size-base);
}

html {
	font-family: var(--montserrat);
	background-color: var(--light-white);
}

body {
	margin: 0;
	padding: 0;
}

code {
	font-family: var(--code)
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--play-fair-display);
	font-weight: var(--bold);
}

p,
span {
	font-family: var(--montserrat);
	font-weight: var(--regular);
}

p {
	line-height: 1.5;
}
</style>